/*button*/

.btn {
  text-align: center;
  font-family: "Playfair Display";
  font-size: 18px;
  font-weight: 700;
  max-width: 198px;
  width: 100%;
  color: #FFFFFF;
  display: inline-block;
  padding: 17px 0;
  background: #00BB43;
  border: 1px solid transparent;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  transition: all 0.5s ease;
  &:hover {
    background: #ddd;
    border-color: #ddd;
    color: #333333;
  }
}
