/*gallery*/

#content {
  .gallery-container {
    text-align: center;
  }
  .gallery {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
    }
  }
  .thumbnail {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    line-height: .42857;
    margin-bottom: 20px;
    padding: 4px;
    transition: border 0.5s ease-in-out 0s;
    &:hover {
      transform: scale(1.02);
    }
  }
  .page_navigation {
    display: inline-block;
  }
  .page_link, .previous_link, .next_link, .first_link, .last_link, .ellipse {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #0275d8;
    display: inline-block;
    line-height: 1.25;
    margin-left: -1px;
    padding: 0.5rem 0.75rem;
    position: relative;
  }
  .page_navigation > a:hover {
    background-color: #eceeef;
    border-color: #ddd;
    color: #014c8c;
    text-decoration: none;
  }
}

.page_navigation > a.active_page {
  background-color: #eceeef;
  border-color: #ddd;
  color: #014c8c;
  text-decoration: none;
}
