/*footer*/

#footer {
  background: url(../images/common/footer-bg.jpg)no-repeat center bottom;
  background-size: 100% 40%;
  .footer-bottom{
    max-width: 1600px;
    width: 95%;
    margin: 0 auto;
    .top{
      padding: 50px 0 42px;
      border-bottom: 1px solid #D6D6D6;
      img.logo{
        max-width: 260px;
        width: 100%;
      }
    }
    .bot{
      padding: 20px 0;
      @include flex(row,wrap,space-between,center);
      .left{
        @include flex-basis(1600px,693px);
        ul{
          margin: 0;
          padding: 0;
          list-style: none;
          @include flex(row,wrap,space-around,center);
          li{
            a{
              @include font("Playfair Display",700,18px,normal,120%,#000000);
            }
          }
        }
      }
      .right{
        text-align: left;
        @include flex-basis(1600px,696px);
        p{
          @include font("Playfair Display",700,18px,normal,120%,#000000);
        }
      }
    }
  }
  .silver img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px;
  }
}
