/*header*/

#header {
  position: relative;
  margin-bottom: -164px;
  z-index: 9999;
  .row{
    max-width: 1600px;
    width: 95%;
  }
  .flex-container{
    @include flex(row,wrap,space-between,flex-start);
  }
  nav {
    max-width: 808px;
    width: 100%;
    @include flex-basis(1600px,1100px);
    @include flex(row,wrap,center,flex-start);
    a#pull {
      display: none;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      @include flex(row,wrap,space-around,flex-start);
      width: 100%;
      li {
        a {
          display: inline-block;
          padding: 51px 1.302vw 24px;
          text-align: center;
          @include font("Playfair Display",700,18px,normal,120%,#000000);
        }
        &.active-menu a, a:hover {
          background: #FF2672;
          color: #fff;
        }
      }
    }
  }
  .header-logo{
    margin: 30px 0 0;
    @include flex-basis(1600px, 260px);
    img.logo{
      max-width: 260px;
      width: 100%;
    }
  }
  .header-phone{
    margin: 30px 0 0;
    @include flex-basis(1600px, 200px);
    a{
      display: inline-block;
      @include font("Open Sans",400,18px,normal,120%,#FFFFFF);
      background: #00BB43;
      padding: 19.5px 0;
      text-align: center;
      max-width: 200px;
      width: 100%;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
    }
  }
}
