#title{
  padding: 166px 0 80px;
  margin-top: -136px;
  position: relative;
  background: url(../images/common/title-bg.jpg)no-repeat center top;
  background-size: cover;
  .row{
    max-width: 1600px;
    width: 95%;
  }
  h2{
    padding: 62px 0 0;
    font-size: 60px;
    color: #333333;
    line-height: 100%;
    margin: 0;
    position: relative;
    &::before{
      content: "";
      background: url(../images/common/flower.png)no-repeat center top;
      width: 50px;
      height: 53px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  h3{
    @include font("Great Vibes", 400, 60px, normal, 100%, #FF2672);
  }
  p{
    margin: 40px 0;
    @include font("Open Sans",400,16px,0.5px,180%,#333333);
  }
}
