#welcome{
  position: relative;
  z-index: 1;
  margin-top: -110px;
  padding: 0 0 85px;
  .row{
    max-width: 1600px;
    width: 95%;
  }
  h3{
    @include font("Great Vibes", 400, 60px, normal, 100%, #FF2672);
  }
  h1{
    font-size: 80px;
    color: #333333;
    line-height: 100%;
  }
  p{
    @include font("Open Sans",400,16px,0.5px,180%,#333333);
    max-width: 992px;
    width: 100%;
    margin: 50px auto;
  }
  .container{
    @include flex(row,nowrap,space-between,flex-end);
    max-width: (408px * 3);
    width: 100%;
    margin: 0 auto;
    .perk{
      position: relative;
      @include flex-basis((408px *3), 408px);
      p{
        margin: 20px 0;
        @include font("Playfair Display", 700, 25px, normal, 100%, #333333);
      }
    }
    .middle{
      &::before{
        content: "";
        width: 1px;
        height: 103px;
        background: #CDCDCD;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        left: 0;
      }
      &::after{
        content: "";
        width: 1px;
        height: 103px;
        background: #CDCDCD;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        right: 0;
      }
    }
  }
}
