#reviews{
  .row{
    max-width: 1920px;
    @include flex(row,nowrap,center,stretch);
  }
  .first{
    @include flex-basis(1920px, 960px);
    .top{
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: -5px;
      }
    }
    .bot{
      @include flex(row,nowrap,center,stretch);
      img{
        width: 50%;
        height: 100%;
        object-fit: cover;
        margin-bottom: -5px;
      }
    }
  }
  .second{
    background: url(../images/content/rvw-bg.jpg)no-repeat center center;
    background-size: cover;
    padding: 5.208vw 4.948vw 0 4.167vw;
    max-height: 840px;
    box-sizing: border-box;
    @include flex-basis(1920px, 480px);
    img[alt="quote"]{
      max-width: 125px;
      width: 6.510vw;
    }
    text-align: left;
    .comment{
      max-width: 314px;
      @include font("Open Sans",400,0.938vw,0.5px,180%,#FFFFFF);
      font-style: italic;
      margin: 3.125vw 0;
    }
    .author{
      margin: 2.604vw 0;
      @include font("Playfair Display",700,1.302vw,normal,100%,#FFFFFF);
    }
  }
  .third{
    @include flex-basis(1920px, 480px);
    .top{
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: -5px;
      }
    }
    .bot{
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: -5px;
      }
    }
  }
}
