#content1{
  background: none;
  position: relative;
  z-index: 1;
  margin:-341px 0 0;
  .row{
    max-width: 1600px;
    width: 95%;
    @include flex(row,nowrap,space-between,flex-start)
    .left{
      @include flex-basis(1600px,630px);
      @include width(1600px,630px);
      .text{
        max-width: 466px;
        margin: 0 0 auto;
        text-align: left;
      }
      h2{
        padding: 84px 0 0;
        font-size: 100px;
        color: #333333;
        line-height: 100%;
        margin: 0;
        position: relative;
        &::before{
          content: "";
          background: url(../images/common/flower.png)no-repeat center top;
          width: 50px;
          height: 53px;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      p{
        margin: 50px 0;
        @include font("Open Sans",400,16px,0.5px,180%,#333333);
      }
      .image{
        position: relative;
        margin: -24px 0 0 -160px;
        z-index: -1;
      }
    }
    .right{
      @include flex-basis(1600px,970px);
      @include width(1600px,970px);
      @include flex(row,nowrap,space-between,center)
      padding: 110px 0 0;
      .container{
        @include flex-basis(970px,470px);
        @include width(970px,470px);
        .service{
          box-sizing: border-box;
          box-shadow: 15px 15px 50px -30px #000000;
          padding: 20px 20px 0 20px;
          background: #FFFFFF;
          margin: 30px 0;
          img{
            width: 100%;
          }
          p{
            margin: 0;
            padding: 35px 0;
            @include font("Playfair Display",700,35px,normal,100%,#333333);
          }
        }
      }
    }
  }
}
