#services{
  position: relative;
  z-index: 1;
  padding: 90px 0 0;
  .row{
    max-width: 1600px;
    width: 95%;
    padding: 0 0 60px;
    border-bottom: 1px solid #D6D6D6;
  }
  h3{
    @include font("Great Vibes", 400, 60px, normal, 100%, #FF2672);
  }
  h2{
    font-size: 80px;
    color: #333333;
    line-height: 100%;
  }
  p{
    margin: 40px 0;
    @include font("Open Sans",400,16px,0.5px,180%,#333333);
  }
  .container{
    @include flex(row,wrap,space-between,stretch);
    .services{
      @include width(1600px, 513px);
      margin: 15px 0;
      height: 100%;
      position: relative;
      img{
        width: 100%;
        height: 100%;
      }
      p{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        right: 0;
        bottom: 0;
        margin: 0;
        padding: 30px 0 40px;
        text-align: left;
        @include width(513px,453px);
        border-top: 1px solid rgba(255,255,255,0.20);
        @include font("Playfair Display",700,35px,normal,100%,#FFFFFF);
      }
    }
  }
  a.btn{
    margin: 15px 0 0;
  }
}
