.contact-info{
  max-width: 100%;
  @include flex(row,nowrap,center,stretch);
  .left{
    flex-basis: 50%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .right{
    flex-basis: 50%;
    background: url(../images/common/contact-bg.jpg)no-repeat center top;
    background-size: cover;
    box-sizing: border-box;
    padding: 4.844vw 9.583vw 4.219vw 4.688vw;
    text-align: left;
    h2{
      font-size: 4.167vw;
      color: #FFFFFF;
      line-height: 100%;
    }
    p{
      @include font("Open Sans",400,0.833vw,0.5px,180%,#FFFFFF);
      margin: 2.083vw 0;
    }
    .info{
      a{
        display: block;
        position: relative;
        padding: 1.250vw 0 1.250vw 5.625vw;
        @include font("Playfair Display",700,1.302vw,normal,120%,#FFFFFF);
        &.footer-phone{
          font-size: 2.083vw;
          padding: 0.729vw 0 0.729vw 5.625vw;
          &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            background: url('../images/common/sprite-info.png') no-repeat 0 0;
            width: 3.906vw;
            height: 3.906vw;
            background-size: 100% 355%;
          }
        }
        &.footer-email{
          margin: 1.042vw 0;
          &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            background: url('../images/common/sprite-info.png') no-repeat 0 -4.896vw;
            width: 3.906vw;
            height: 3.906vw;
            background-size: 100% 355%;
          }
        }
        &.footer-address{
          &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            background: url('../images/common/sprite-info.png') no-repeat 0 -9.844vw;
            width: 3.906vw;
            height: 3.906vw;
            background-size: 100% 355%;
          }
        }
      }
    }
  }
}
