@font-face { font-family: "socialico"; src: url("fonts/Socialico/Socialico.eot"); src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg"); }

.suspension-contain { max-height: 980px; overflow: hidden; position: relative; z-index: 999999; }

html.suspended { background: rgba(0, 0, 0, 0.6); }

body { max-width: 100%; min-width: 960px; margin: 0 auto; text-align: center; font-family: 'Open Sans'; }

a { color: inherit; text-decoration: none; }

a:hover { text-decoration: none; color: inherit; }

h1, h2, h3, h4, h5 { font-family: "Playfair Display"; padding: 0; margin: 0; }

.row { max-width: 960px; margin: 0 auto; }

/*floats*/
.fl { float: left; }

.fr { float: right; }

/*grids*/
.col-1 { width: 8.33%; }

.col-2 { width: 16.66%; }

.col-3 { width: 25%; }

.col-4 { width: 33.33%; }

.col-5 { width: 41.66%; }

.col-6 { width: 50%; }

.col-7 { width: 58.33%; }

.col-8 { width: 66.66%; }

.col-9 { width: 75%; }

.col-10 { width: 83.33%; }

.col-11 { width: 91.66%; }

.col-12 { width: 100%; }

/*typography*/
.text-primary { color: #B11414; }

.text-bold { font-weight: 700; }

.text-uppercase { text-transform: uppercase; }

.text-center { text-align: center !important; }

.text-left { text-align: left; }

/*button*/
.btn { text-align: center; font-family: "Playfair Display"; font-size: 18px; font-weight: 700; max-width: 198px; width: 100%; color: #FFFFFF; display: inline-block; padding: 17px 0; background: #00BB43; border: 1px solid transparent; border-top-left-radius: 50px; border-top-right-radius: 50px; border-bottom-left-radius: 50px; border-bottom-right-radius: 50px; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.btn:hover { background: #ddd; border-color: #ddd; color: #333333; }

/*clearings*/
.clear { clear: both; }

.clearfix { display: block; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; }

/*cookie*/
.cc-animate.cc-revoke.cc-bottom { font-size: 14px; padding: 5px 10px; position: fixed; display: block !important; -webkit-transform: none !important; -ms-transform: none !important; transform: none !important; bottom: 0 !important; left: 20px !important; }

/*call to action*/
.destroy-on-load, .cta { display: none; }

/*contact form messages*/
form .messages p { display: none; font-family: Arial !important; font-weight: 400 !important; letter-spacing: 0 !important; font-size: 16px !important; }

form .loading { display: none; }

form .alert { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; }

form .alert-success { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }

form .alert-danger { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }

form [type="submit"] { margin: 20px auto; }

/*contact form*/
.ctc-form { margin: 0 auto; text-align: center; }

.ctc-form input[type="text"] { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; }

.ctc-form textarea { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; height: 120px; padding-top: 10px; }

.ctc-form button { display: block; }

.ctc-form .recap { display: inline-block; }

.ctc-form .g-recaptcha div { margin: 0 auto 10px; }

.ctc-form .ctc-hide { display: none; }

/*gallery*/
#content .gallery-container { text-align: center; }

#content .gallery { list-style-type: none; margin: 0; padding: 0; }

#content .gallery li { display: inline-block; }

#content .thumbnail { background-color: #fff; border: 1px solid #ddd; border-radius: 4px; display: block; line-height: .42857; margin-bottom: 20px; padding: 4px; -webkit-transition: border 0.5s ease-in-out 0s; -o-transition: border 0.5s ease-in-out 0s; transition: border 0.5s ease-in-out 0s; }

#content .thumbnail:hover { -webkit-transform: scale(1.02); -ms-transform: scale(1.02); transform: scale(1.02); }

#content .page_navigation { display: inline-block; }

#content .page_link, #content .previous_link, #content .next_link, #content .first_link, #content .last_link, #content .ellipse { background-color: #fff; border: 1px solid #ddd; color: #0275d8; display: inline-block; line-height: 1.25; margin-left: -1px; padding: 0.5rem 0.75rem; position: relative; }

#content .page_navigation > a:hover { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

.page_navigation > a.active_page { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

h1 { font-size: 100px; font-weight: 100; color: #000; }

/*header*/
#header { position: relative; margin-bottom: -164px; z-index: 9999; }

#header .row { max-width: 1600px; width: 95%; }

#header .flex-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

#header nav { max-width: 808px; width: 100%; -ms-flex-preferred-size: 68.75%; flex-basis: 68.75%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

#header nav a#pull { display: none; }

#header nav ul { margin: 0; padding: 0; list-style: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; width: 100%; }

#header nav ul li a { display: inline-block; padding: 51px 1.302vw 24px; text-align: center; font-family: "Playfair Display"; font-weight: 700; font-size: 18px; letter-spacing: normal; line-height: 120%; color: #000000; }

#header nav ul li.active-menu a, #header nav ul li a:hover { background: #FF2672; color: #fff; }

#header .header-logo { margin: 30px 0 0; -ms-flex-preferred-size: 16.25%; flex-basis: 16.25%; }

#header .header-logo img.logo { max-width: 260px; width: 100%; }

#header .header-phone { margin: 30px 0 0; -ms-flex-preferred-size: 12.5%; flex-basis: 12.5%; }

#header .header-phone a { display: inline-block; font-family: "Open Sans"; font-weight: 400; font-size: 18px; letter-spacing: normal; line-height: 120%; color: #FFFFFF; background: #00BB43; padding: 19.5px 0; text-align: center; max-width: 200px; width: 100%; border-top-left-radius: 50px; border-top-right-radius: 50px; border-bottom-left-radius: 50px; border-bottom-right-radius: 50px; }

/*banner*/
#banner { position: relative; }

#banner .slider img { max-width: 100%; width: 100%; height: 980px; -o-object-fit: cover; object-fit: cover; }

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
#content1 { background: none; position: relative; z-index: 1; margin: -341px 0 0; }

#content1 .row { max-width: 1600px; width: 95%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

#content1 .row .left { -ms-flex-preferred-size: 39.375%; flex-basis: 39.375%; width: 39.375%; }

#content1 .row .left .text { max-width: 466px; margin: 0 0 auto; text-align: left; }

#content1 .row .left h2 { padding: 84px 0 0; font-size: 100px; color: #333333; line-height: 100%; margin: 0; position: relative; }

#content1 .row .left h2::before { content: ""; background: url(../images/common/flower.png) no-repeat center top; width: 50px; height: 53px; position: absolute; top: 0; left: 0; }

#content1 .row .left p { margin: 50px 0; font-family: "Open Sans"; font-weight: 400; font-size: 16px; letter-spacing: 0.5px; line-height: 180%; color: #333333; }

#content1 .row .left .image { position: relative; margin: -24px 0 0 -160px; z-index: -1; }

#content1 .row .right { -ms-flex-preferred-size: 60.625%; flex-basis: 60.625%; width: 60.625%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 110px 0 0; }

#content1 .row .right .container { -ms-flex-preferred-size: 48.45361%; flex-basis: 48.45361%; width: 48.45361%; }

#content1 .row .right .container .service { -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-box-shadow: 15px 15px 50px -30px #000000; box-shadow: 15px 15px 50px -30px #000000; padding: 20px 20px 0 20px; background: #FFFFFF; margin: 30px 0; }

#content1 .row .right .container .service img { width: 100%; }

#content1 .row .right .container .service p { margin: 0; padding: 35px 0; font-family: "Playfair Display"; font-weight: 700; font-size: 35px; letter-spacing: normal; line-height: 100%; color: #333333; }

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
#welcome { position: relative; z-index: 1; margin-top: -110px; padding: 0 0 85px; }

#welcome .row { max-width: 1600px; width: 95%; }

#welcome h3 { font-family: "Great Vibes"; font-weight: 400; font-size: 60px; letter-spacing: normal; line-height: 100%; color: #FF2672; }

#welcome h1 { font-size: 80px; color: #333333; line-height: 100%; }

#welcome p { font-family: "Open Sans"; font-weight: 400; font-size: 16px; letter-spacing: 0.5px; line-height: 180%; color: #333333; max-width: 992px; width: 100%; margin: 50px auto; }

#welcome .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; max-width: 1224px; width: 100%; margin: 0 auto; }

#welcome .container .perk { position: relative; -ms-flex-preferred-size: 33.33333%; flex-basis: 33.33333%; }

#welcome .container .perk p { margin: 20px 0; font-family: "Playfair Display"; font-weight: 700; font-size: 25px; letter-spacing: normal; line-height: 100%; color: #333333; }

#welcome .container .middle::before { content: ""; width: 1px; height: 103px; background: #CDCDCD; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 0; }

#welcome .container .middle::after { content: ""; width: 1px; height: 103px; background: #CDCDCD; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); right: 0; }

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
#reviews .row { max-width: 1920px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

#reviews .first { -ms-flex-preferred-size: 50%; flex-basis: 50%; }

#reviews .first .top img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; margin-bottom: -5px; }

#reviews .first .bot { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

#reviews .first .bot img { width: 50%; height: 100%; -o-object-fit: cover; object-fit: cover; margin-bottom: -5px; }

#reviews .second { background: url(../images/content/rvw-bg.jpg) no-repeat center center; background-size: cover; padding: 5.208vw 4.948vw 0 4.167vw; max-height: 840px; -webkit-box-sizing: border-box; box-sizing: border-box; -ms-flex-preferred-size: 25%; flex-basis: 25%; text-align: left; }

#reviews .second img[alt="quote"] { max-width: 125px; width: 6.510vw; }

#reviews .second .comment { max-width: 314px; font-family: "Open Sans"; font-weight: 400; font-size: 0.938vw; letter-spacing: 0.5px; line-height: 180%; color: #FFFFFF; font-style: italic; margin: 3.125vw 0; }

#reviews .second .author { margin: 2.604vw 0; font-family: "Playfair Display"; font-weight: 700; font-size: 1.302vw; letter-spacing: normal; line-height: 100%; color: #FFFFFF; }

#reviews .third { -ms-flex-preferred-size: 25%; flex-basis: 25%; }

#reviews .third .top img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; margin-bottom: -5px; }

#reviews .third .bot img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; margin-bottom: -5px; }

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
#services { position: relative; z-index: 1; padding: 90px 0 0; }

#services .row { max-width: 1600px; width: 95%; padding: 0 0 60px; border-bottom: 1px solid #D6D6D6; }

#services h3 { font-family: "Great Vibes"; font-weight: 400; font-size: 60px; letter-spacing: normal; line-height: 100%; color: #FF2672; }

#services h2 { font-size: 80px; color: #333333; line-height: 100%; }

#services p { margin: 40px 0; font-family: "Open Sans"; font-weight: 400; font-size: 16px; letter-spacing: 0.5px; line-height: 180%; color: #333333; }

#services .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

#services .container .services { width: 32.0625%; margin: 15px 0; height: 100%; position: relative; }

#services .container .services img { width: 100%; height: 100%; }

#services .container .services p { position: absolute; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); right: 0; bottom: 0; margin: 0; padding: 30px 0 40px; text-align: left; width: 88.30409%; border-top: 1px solid rgba(255, 255, 255, 0.2); font-family: "Playfair Display"; font-weight: 700; font-size: 35px; letter-spacing: normal; line-height: 100%; color: #FFFFFF; }

#services a.btn { margin: 15px 0 0; }

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
#title { padding: 166px 0 80px; margin-top: -136px; position: relative; background: url(../images/common/title-bg.jpg) no-repeat center top; background-size: cover; }

#title .row { max-width: 1600px; width: 95%; }

#title h2 { padding: 62px 0 0; font-size: 60px; color: #333333; line-height: 100%; margin: 0; position: relative; }

#title h2::before { content: ""; background: url(../images/common/flower.png) no-repeat center top; width: 50px; height: 53px; position: absolute; top: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#title h3 { font-family: "Great Vibes"; font-weight: 400; font-size: 60px; letter-spacing: normal; line-height: 100%; color: #FF2672; }

#title p { margin: 40px 0; font-family: "Open Sans"; font-weight: 400; font-size: 16px; letter-spacing: 0.5px; line-height: 180%; color: #333333; }

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
.contact-info { max-width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

.contact-info .left { -ms-flex-preferred-size: 50%; flex-basis: 50%; }

.contact-info .left img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.contact-info .right { -ms-flex-preferred-size: 50%; flex-basis: 50%; background: url(../images/common/contact-bg.jpg) no-repeat center top; background-size: cover; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 4.844vw 9.583vw 4.219vw 4.688vw; text-align: left; }

.contact-info .right h2 { font-size: 4.167vw; color: #FFFFFF; line-height: 100%; }

.contact-info .right p { font-family: "Open Sans"; font-weight: 400; font-size: 0.833vw; letter-spacing: 0.5px; line-height: 180%; color: #FFFFFF; margin: 2.083vw 0; }

.contact-info .right .info a { display: block; position: relative; padding: 1.250vw 0 1.250vw 5.625vw; font-family: "Playfair Display"; font-weight: 700; font-size: 1.302vw; letter-spacing: normal; line-height: 120%; color: #FFFFFF; }

.contact-info .right .info a.footer-phone { font-size: 2.083vw; padding: 0.729vw 0 0.729vw 5.625vw; }

.contact-info .right .info a.footer-phone::before { content: ""; position: absolute; left: 0; top: 0; background: url("../images/common/sprite-info.png") no-repeat 0 0; width: 3.906vw; height: 3.906vw; background-size: 100% 355%; }

.contact-info .right .info a.footer-email { margin: 1.042vw 0; }

.contact-info .right .info a.footer-email::before { content: ""; position: absolute; left: 0; top: 0; background: url("../images/common/sprite-info.png") no-repeat 0 -4.896vw; width: 3.906vw; height: 3.906vw; background-size: 100% 355%; }

.contact-info .right .info a.footer-address::before { content: ""; position: absolute; left: 0; top: 0; background: url("../images/common/sprite-info.png") no-repeat 0 -9.844vw; width: 3.906vw; height: 3.906vw; background-size: 100% 355%; }

/*footer*/
#footer { background: url(../images/common/footer-bg.jpg) no-repeat center bottom; background-size: 100% 40%; }

#footer .footer-bottom { max-width: 1600px; width: 95%; margin: 0 auto; }

#footer .footer-bottom .top { padding: 50px 0 42px; border-bottom: 1px solid #D6D6D6; }

#footer .footer-bottom .top img.logo { max-width: 260px; width: 100%; }

#footer .footer-bottom .bot { padding: 20px 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#footer .footer-bottom .bot .left { -ms-flex-preferred-size: 43.3125%; flex-basis: 43.3125%; }

#footer .footer-bottom .bot .left ul { margin: 0; padding: 0; list-style: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#footer .footer-bottom .bot .left ul li a { font-family: "Playfair Display"; font-weight: 700; font-size: 18px; letter-spacing: normal; line-height: 120%; color: #000000; }

#footer .footer-bottom .bot .right { text-align: left; -ms-flex-preferred-size: 43.5%; flex-basis: 43.5%; }

#footer .footer-bottom .bot .right p { font-family: "Playfair Display"; font-weight: 700; font-size: 18px; letter-spacing: normal; line-height: 120%; color: #000000; }

#footer .silver img { display: inline-block; vertical-align: middle; max-width: 50px; }

/*inner pages*/
.inner #content { min-height: 400px; padding: 40px 0; }

/*privacy policy*/
.inPrivacyBox { max-width: 850px; margin: 0 auto; }

.inPrivacyBox p { text-align: justify !important; }

/** Responsive
-------------------------------------------------------*/
/*@media screen and (max-width:1440px){

}*/
@media screen and (max-width: 1600px) and (min-width: 960px) { #header .header-phone a { font-size: 1.6vw; } }

@media screen and (max-width: 1200px) { #content1 .row .left h2 { font-size: 70px; } }

/*@media screen and (max-width: 800px){
  [class*="col-"] {
    width: 100%;
  }
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}*/
/*@media screen and (max-width:640px){

}*/
/*@media screen and (max-width:480px){

}*/
/*@media screen and (max-width:400px){

}*/
/*@media screen and (max-width:320px){

}*/
